# General
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
node_modules/
.venv/
venv/
ENV/
env/
.env
.env.*
!.env.example
# Docker environment files
/.env
/.env.docker
/.env.production

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/

# React
/build/
/coverage
.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database / Docker
db/data/
