version: "3.8"
services:
  backend:
    build: ./backend
    command: bash -c "python backend/manage.py migrate && gunicorn backend.wsgi:application --bind 0.0.0.0:8000 --chdir backend"
    environment:
      - DATABASE_URL=${DATABASE_URL}
    env_file:
      - .env
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend